*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}

h4{
    text-align: center;
}
header{
    position: sticky;
    position: fixed;
    background-color: blueviolet;
    padding: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    top: 0;
    right: 0;
    left: 0;
}
nav.satu{
    padding: 10px;
    float: left;
    width: 20%;
    margin: 10px;
    box-shadow: 1px 1px 7px 1px rgba(121, 118, 118, 0.8) ;
}

nav.dua{
    padding: 20px;
    float: left;
    width: 50%;
    margin: 10px;
    box-shadow: 1px 1px 7px 2px rgba(121, 118, 118, 0.8) ;
}
nav.tiga{
    padding: 10px;
    float: right;
    width: 25%;
    margin: 10px;
    box-shadow: 1px 1px 7px 1px rgba(121, 118, 118, 0.8) ;
}
footer{
    clear: both;
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
}
